<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/1630ec8986.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header>
        <div class="logo-buscador-cuotas">
            <div class="logo-buscador">
                <div class="logo">
                    <img class="imagen-mercado-liebre" src="img/logo-mercado-liebre.svg" alt="logo">

                </div>

                <div class=" contenedor-buscador">
                    <input type="search" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
                </div>
                <span class="lupita">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>

            <div class = "contenedor-cuotas">
                <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito</p>
            </div>






        </div>

        <div>
            <nav class="site-navbar">
                <ul type="none">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul type="none">
                    <li> Creá tu cuenta <i class="fa-solid fa-address-card"></i></li>
                    <li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li> Mis compras <i class="fa-solid fa-basket-shopping"></i> </li>
                </ul>
                <div class="burger-menu">

                    <i class="fa-solid fa-bars"></i>
                </div>

            </nav>
        </div>
    </header>
    <section class=banner-cont>
        <img src="/img/img-home-banner.jpg" alt="" class="banner">
    </section>

    <main class="main-productos">

        <div>
            <h4 class="subtitulo"> Basado en tu última visita </h4>
            <section class="contenedor-productos">

                <article class="productos" id="producto-1">
                    <div class="img-productos">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $6.770</p>
                            <p class="descuento"> 40% OFF</p>
                        </div>
                        <p class="descripciones"> Cafetera Moulinex</p>
                    </div>


                </article>
                <article class="productos" id="producto-2">
                    <div class="img-productos">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $230.000</p>
                            <p class="descuento"> 20% off</p>
                        </div>

                        <p class="descripciones"> MacBook Pro 2019</p>
                    </div>



                </article>

                <article class="productos" id="producto-3">
                    <div class="img-productos">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $70.500 </p>
                            <p class="descuento"> 10% off</p>
                        </div>

                        <p class="descripciones"> Samsung Galaxy S10</p>
                    </div>



                </article>
                <article class="productos" id="producto-4">
                    <div class="img-productos">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $23.200 </p>
                            <p class="descuento"> 5% off </p>
                        </div>

                        <p class="descripciones"> SmartTv Samsung 43" </p>
                    </div>



                </article>
            </section>
            <h4 class="subtitulo"> Ofertas </h4>
            <section class="contenedor-productos">

                <article class="productos" id="producto-1">
                    <div class="img-productos">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $6.770</p>
                            <p class="descuento"> 40% OFF</p>
                        </div>

                        <p class="descripciones"> Cafetera Moulinex</p>
                    </div>


                </article>
                <article class="productos" id="producto-2">
                    <div class="img-productos">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $230.000</p>
                            <p class="descuento"> 20% off</p>
                        </div>

                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>



                </article>

                <article class="productos" id="producto-3">
                    <div class="img-productos">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $70.500 </p>
                            <p class="descuento">10% off</p>
                        </div>

                        <p class="descripciones">Samsung Galaxy S10</p>

                    </div>


                </article>
                <article class="productos" id="producto-4">
                    <div class="img-productos">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    </div>

                    <div class="desc-productos">
                        <div class="truck">
                            <i id="truck" class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $23.200 </p>
                            <p class="descuento"> 5% off </p>
                        </div>

                        <p class="descripciones"> SmartTv Samsung 43" </p>
                    </div>



                </article>
            </section>


        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="pago-tarjeta"><i class="fa-solid fa-credit-card"></i>
            </div>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <div>
                <div class="autito">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div>
                <div class="segurity">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
            <div>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


            </div>
            <div></div>
        </div>

    </footer>


</body>

</html>